<%- include('../partials/header') %>
    <main>


        <div class="home-section">
            <h3>Create New Task</h3>
            <p>Create a task for yourself or assign it to a family member</p>
            <form method="POST" class="create-task">
                <div class="form-group">
                    <label for="task-title">Task Title</label>
                    <input type="text" id="task-title" name="task-title" placeholder="Enter task title...">
                </div>

                <div class="form-group">
                    <label for="task-description">Description (optional)</label>
                    <input type="text" id="task-description" name="task-description" placeholder="Add more details...">
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" name="category">
                        <option value="other">Other</option>
                        <option value="chores">Chores</option>
                        <option value="homework">Homework</option>
                        <option value="errands">Errands</option>
                        <option value="personal">Personal</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="assign-to">Assign To</label>
                    <select id="assign-to" name="assign to">
                        <option value="myself">Keep for myself</option>
                        <option value="temp-harcoded">Temp hardcoded</option>
                    </select>
                </div>
                <button type="submit">Create Task</button>
            </form>
        </div>

        <div class="home-section">
            <h3>My Tasks</h3>
            <p>Manage your personal and accepted tasks.</p>
            
            <div class="task-types">
                <button class="active">Active</button>
                <button>Completed</button>
                <button>Delegated</button>
            </div>
            <div class="task-card">
                <div class="task-card-top">
                    <div class="task-card-info">
                        <p><strong class="task-title">Task Name</strong> <span class='task-category-tag'><i class="bi bi-pin-angle"></i> Category</span> <span class="status">Accepted</span></p>
                    </div>
                    <div class="task-actions">
                        <button>Complete</button>
                        <button class="btn-delete"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
                    <p>Description</p>
                    <p>Created by: Person</p>
                </div>
        </div>

    </main>
    <script>
        const taskTypeButtons = document.querySelectorAll('.task-types button');
        
        taskTypeButtons.forEach(button => {
            button.addEventListener('click', () => {
                taskTypeButtons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
            });
        });
    </script>
    <%- include('../partials/footer') %>